@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap');

/* navBar */
nav {
    box-shadow: 1px 5px 60px rgba(0, 0, 0, 0.200);
}

.nav-link{
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    color: #D63517 !important;
    font-weight: 600 !important;
}

#logo{
    width: 240px;
    margin: 0;
}

.navbar-brand{
    margin: 0;
    padding: 0;
    height: 100%;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
}

/* Banner carousel */

.banner-row {
    height: 100%;
}

.banner-container {
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 78vh;
    margin-top: 50px;
    
}

.banner-container:before{
    content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color:   rgba(0, 0, 0, 0.205)
}

.firstImage {
    background-image: url(images/background.jpg);
}

.secondImage {
    background-image: url(images/background2.jpg);
}


.thirdImage {
    background-image: url(images/background3.jpg);
}

#thirdTitle{
    font-size: 3em;
}

.titles{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.titlesSecond{
    height: 100%;
    display: flex;
    align-items: center;
}

.titlesSecond h2{
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    font-size: 3em;
    color: rgb(255, 255, 255);
    margin: 20px;
    margin-bottom:40px;
}

.titlesSecond h3{
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
}

.fa-chevron-down{
    font-size: 20px;
}

.fa-chevron-down:hover{
    cursor: pointer;
}

.hide{
    display: none;

}

.description{
    font-family: 'Dosis', sans-serif;
    color:white;
    font-weight: 600;
    font-size: 17px;
    opacity: 0;
    animation: fade-in 2s forwards;
}



.show{
    display: block;

}

.titles h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 900;
    font-size: 3em;
    color: rgb(255, 255, 255);
    margin: 20px;

}

.wsp-button {
    background-color: rgb(62, 211, 62);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 18px;
    margin: 0px;
    border-radius: 25px;
    border: none;
    color: white;
    transition: 0.3s;
}

.wsp-button:hover {
    transition: 0.3s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.04);
}

.wsp-button img {
    width: 24px;
}

.carousel-control-next{
    height: 80%;
}

.carousel-control-prev{
    height: 80%;
}



/* Empieza footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-row{
    width: 100%;
    height: 100%;
}

.footer-row div{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer-circles{
    width: 100%;
}

.footer-circles-right{
    width: 100%;

    text-align: right;

}

.red{
    height: 60px;
    transition: 0.4s;
    margin:40px;
}

.red:hover {
    transition: 0.4s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.10);
    cursor: pointer;
}

.footer-container{
    text-align: center;
}

/* ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;

}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;

}

ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px !important;
}

ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}

ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}

ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}

ul li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: .2;
}

ul li:nth-child(1) span {
    background: rgb(17, 60, 201);
}

ul li:nth-child(2) span {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

ul li:nth-child(3) span {
    background: rgb(0, 120, 124);
}

ul li:nth-child(4) span {
    background: rgb(179, 14, 14);
}

ul li:nth-child(5) span {
    background: rgb(103, 137, 247);
} */

/* Empieza formulario */
.contact_form {
    width: 550px;
    margin: 0px auto;
    background-color: #fffffff1;
    border-radius: 20px;
    box-shadow: 1px 5px 60px rgba(0, 0, 0, 0.507);
}

.form-title {
    font-size: 20px;
    text-align: center;
}

.form-subtitle {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}

input {
    background-color: #fbfbfb;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #D63517;
    padding-left: 10px;
    margin-bottom: 10px;
}

#select-subject{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #D63517;
    text-align: center;
    margin-bottom: 10px;

}


textarea {
    background-color: #fbfbfb;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #D63517;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    resize: none;
}


label {
    display: block;
    float: center;
}


#form-button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    background-color: #D63517;
    border-color: #D63517;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    color: #fff;
}


span {
    color: #ab4493;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #D63517;
}

.formulario {
    padding: 20px;
}

.formulario textarea:focus {
    outline: 0;
    border: 1px solid #D63517;
}

.contact-container {
    background-image: url(images/trama.png);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}


/* Termina formulario */

/* Empieza media queries */

@media screen and (max-width: 590px) {
    .contact_form {
        width: 450px;
    }

    .form-title {
        font-size: 20px;
    }

    .form-subtitle {
        font-size: 16px;
    }

    .titles h2 {
        font-size: 2em;
    }

    .wsp-button {
        padding: 16px;
    }

    .nav-link{
        font-size: 1em;
    }



    
}

@media screen and (max-width: 920px) {
    .hidden {
        display: none;
    }

  
}


@media screen and (max-width: 460px) {
    .contact_form {
        width: 340px;

    }


    textarea {
        height: 70px;
    }

}

@media screen and (max-width: 300px) {
    .contact_form {
        width: 340px;
        margin-top: 10px;
    }

    .contact-container {
        padding-top: 20px;
    }

    textarea {
        height: 70px;
    }

    ul li{
        width: 33px;
        height: 33px;
    }


    .wsp-button{
        font-size: 14px;
        padding: 14px;
    }

    .wsp-button img{
        width: 15px;
    }

    .titles h2{
        font-size: 18px;
    }

    #thirdTitle{
        font-size: 2em;
    }

    #logo{
        width: 140px;
    }
}


@media screen and (max-height: 700px){
    .contact-container{
        margin-top:50px
    }
}


 /* Tablet */

@media screen and (max-width: 768px)
 and (max-height: 670px) {
    .titlesSecond h2{
        font-size: 37px;
      }
      .titlesSecond h3{
        font-size: 18px;
      }

}

/* Movil L */

@media screen and (max-width: 425px)
 and (max-height: 667px) {
    .titlesSecond h2{
        font-size: 24px;
      }
    
      .titlesSecond h3{
        font-size: 18px;
      }
    
      .titlesSecond p{
        font-size: 12px;
      }
}

/* Movil M */

@media screen and (max-width: 375px)
 and (max-height: 667px) {
    .titlesSecond h2{
        font-size: 20px;
      }
    
      .titlesSecond h3{
        font-size: 18px;
      }
    
      .titlesSecond p{
        font-size: 12px;
      }
}

/* Movil S */
@media screen and (max-width: 320px) and 
       (max-height: 670px) {
  .titlesSecond h2{
    font-size: 20px;
  }

  .titlesSecond h3{
    font-size: 18px;
  }

  .titlesSecond p{
    font-size: 12px;
  }
}

/* Portatil */
@media screen and (max-width: 1024px)
 and (max-height: 670px) {
  .contact_form {
    margin-top:20px
  }

  .titlesSecond h3{
    font-size: 18px;
  }

  .red{
    height: 40px;
  }
}

/* Keyframes */

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }